:root {
  font-family: Rubik;
  background: fixed no-repeat 100% 100%/cover url(https://bulr.boo/images/eons.svg);
  color: white;
}

body {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
}

label {
  display: flex;
  flex-direction: column;
}

.submit button {
  font-family: Rubik;
}
