:root {
  font-family: Arial;
  line-spacing: 1.5;
  background-color: color-mix(in srgb, #ffc107 10%, white);

  --blue: #2196f3;
}

body.user-panel-page {
  padding: 0 1rem;
}

.login-page {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

form {
  --bg-color: var(--blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  background: color-mix(in srgb, var(--bg-color) 10%, white);
}

form > h2 {
  margin: 0;
  color: color-mix(in srgb, var(--bg-color) 20%, black);
}

input[type=submit] {
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  border: 1px solid var(--bg-color);
  background-color: color-mix(in srgb, var(--bg-color) 50%, white);
}

label {
  display: flex;
  flex-direction: column;
}

.user-panel {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.panel-entry {
  flex: 1;
}

.editor {
  width: 100%;
  height: 400px;
}

a {
  font-weight: 300;
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-post {
  padding: 0 2rem;
  border: 1px solid black;
  background: color-mix(in srgb, var(--blue) 10%, white);
}
