<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Whack a Mole</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/img/diglet.webp">
  <script>
    addEventListener('load', () => {
      document.querySelector('[name=funny]').value = `${Math.floor(Math.random() * 100)}`;
    });
  </script>
</head>
<body>
  <h1>Welcome to whack a mole</h1>
  <form action="/login" method="POST">
    <label>
      Username:
      <input type="text" name="username">
    </label>
    <input type="hidden" name="funny">
    <input type="submit" value="go!">
  </form>
</body>
</html>
